Django==1.8.5
Pillow==3.0.0
decorator==4.0.4
defusedxml==0.4.1
django-allauth==0.23.0
django-configurations==0.8
ipython==4.0.0
ipython-genutils==0.1.0
oauthlib==1.0.3
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.5
psycopg2==2.6.1
ptyprocess==0.5
python3-openid==3.0.7
requests==2.8.1
requests-oauthlib==0.5.0
simplegeneric==0.8.1
traitlets==4.0.0
